[Unit]
Description=Youtube Downloader Bot
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/root/Youtube_Downloader/venv/bin/python main.py
ExecReload=/root/Youtube_Downloader/venv/bin/python main.py
WorkingDirectory=/root/Youtube_Downloader/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
